/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

body, html {
  height: 100%;
  margin: 0; }

body {
  margin: 0;
  padding: 0;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif; }

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease; }

a:hover {
  color: tomato; }

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none; }

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none; }

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }

#menuToggle span:first-child {
  transform-origin: 0% 0%; }

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%; }

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323; }

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2); }

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px); }

#menu {
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  text-align: center;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  #menu li {
    padding: 10px 0;
    font-size: 22px; }

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none; }

nav {
  margin: -30px;
  position: absolute;
  z-index: 4;
  top: 0; }
  @media only screen and (min-width: 768px) {
    nav {
      margin: 0 auto;
      width: 100%; }
      nav #menuToggle {
        display: none; } }
  nav #menuDesktop {
    display: none; }
    @media only screen and (min-width: 768px) {
      nav #menuDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 0; } }
    nav #menuDesktop .links {
      list-style-type: none;
      padding-top: 10px;
      width: -webkit-fill-available;
      text-align: center; }
      nav #menuDesktop .links a {
        text-decoration: none;
        font-family: 'colus';
        color: white; }

.background {
  z-index: -10;
  position: absolute; }

.background__intro {
  right: -20px;
  top: -500px; }
  @media only screen and (min-width: 768px) {
    .background__intro {
      width: -webkit-fill-available;
      right: 0px; } }
  @media only screen and (min-width: 1440px) {
    .background__intro {
      width: 100vw;
      left: 0px; } }

.background__portfolio {
  right: 0;
  left: 40px;
  width: 300px;
  top: 1489px; }
  @media only screen and (min-width: 375px) {
    .background__portfolio {
      left: 95px;
      top: 1489px;
      height: 1803.050px; } }
  @media only screen and (min-width: 425px) {
    .background__portfolio {
      left: 150px;
      right: auto;
      top: 1400px;
      height: 1903.055px; } }
  @media only screen and (min-width: 500px) {
    .background__portfolio {
      left: 250px; } }
  @media only screen and (min-width: 570px) {
    .background__portfolio {
      left: 330px; } }
  @media only screen and (min-width: 630px) {
    .background__portfolio {
      left: 370px; } }
  @media only screen and (min-width: 700px) {
    .background__portfolio {
      left: 425px; } }
  @media only screen and (min-width: 768px) {
    .background__portfolio {
      top: 800px;
      width: 300px;
      left: 468px;
      right: 0px; } }
  @media only screen and (min-width: 820px) {
    .background__portfolio {
      left: 530px; } }
  @media only screen and (min-width: 890px) {
    .background__portfolio {
      left: 600px; } }
  @media only screen and (min-width: 940px) {
    .background__portfolio {
      left: 650px; } }
  @media only screen and (min-width: 1024px) {
    .background__portfolio {
      width: 400px;
      left: 670px; } }
  @media only screen and (min-width: 1120px) {
    .background__portfolio {
      left: 720px; } }
  @media only screen and (min-width: 1200px) {
    .background__portfolio {
      left: 800px; } }
  @media only screen and (min-width: 1300px) {
    .background__portfolio {
      left: 910px; } }
  @media only screen and (min-width: 1440px) {
    .background__portfolio {
      left: 1000px;
      width: 440px;
      top: 1200px; } }

.main {
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main .title-name {
    text-align: center;
    color: white;
    font-family: 'colus';
    font-size: 3.7rem; }
  .main .typing {
    margin: 10px auto 30px auto;
    /* Cursor */ }
    @media only screen and (min-width: 768px) {
      .main .typing {
        margin: 30px auto; } }
    .main .typing #typed {
      color: white;
      font-family: 'colus'; }
      @media only screen and (min-width: 768px) {
        .main .typing #typed {
          font-size: 1.7rem; } }
    .main .typing .typed-cursor {
      font-size: 1.7rem; }
  .main .title-saying {
    text-align: center;
    color: white;
    font-family: 'colus';
    font-size: .7rem; }
    @media only screen and (min-width: 768px) {
      .main .title-saying {
        font-size: 1rem; } }

.main_footer {
  height: 40vh;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .main_footer {
      top: -25px; } }
  .main_footer .copyright {
    color: black;
    margin-bottom: 10px; }
  .main_footer .social_media a {
    color: black; }
  .main_footer .social_media a + a {
    margin-left: 25px; }

.grid {
  display: grid;
  grid-template-rows: auto auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  grid-row-gap: 50px;
  margin-top: 100px;
  padding-left: 30px; }
  @media only screen and (min-width: 768px) {
    .grid {
      grid-template-columns: auto auto auto auto; } }
  .grid .grid-item {
    background: white;
    border-radius: 5px;
    width: 200px;
    height: 300px; }
    @media only screen and (min-width: 768px) {
      .grid .grid-item {
        width: 200px;
        height: 300px; } }
    @media only screen and (min-width: 1024px) {
      .grid .grid-item {
        width: 275px;
        height: 350px; } }
    @media only screen and (min-width: 1440px) {
      .grid .grid-item {
        width: 350px;
        height: 400px; } }

.skills .container {
  box-shadow: 5px 5px 10px black; }
  .skills .container .skills-title {
    text-align: center;
    color: black;
    font-family: 'colus'; }
  .skills .container p {
    text-align: center;
    color: black;
    font-weight: 500; }

.projects-title {
  font-family: 'colus';
  text-align: center;
  color: black; }

.projects {
  border: solid; }
  .projects .grid-item__projects {
    box-shadow: 0; }
  .projects .projects-img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 10px black; }
    @media only screen and (min-width: 768px) {
      .projects .projects-img {
        width: 200px;
        height: 200px; } }
    @media only screen and (min-width: 1024px) {
      .projects .projects-img {
        width: 300px;
        height: 300px; } }
  .projects .projects-img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    transform: scale(1.1); }

.projects:hover .projects-img:not(:hover) {
  opacity: .3; }

.contact {
  z-index: 2; }
  .contact .title-name {
    font-size: 2rem;
    color: black;
    text-align: center; }
  .contact .contact-form {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center; }
    .contact .contact-form .custom-styles {
      background: transparent;
      border: solid black;
      border-width: 0 0 2px 0;
      height: 45px;
      font-size: 1.2rem;
      width: 80vw;
      outline: none;
      color: black; }
      @media only screen and (min-width: 768px) {
        .contact .contact-form .custom-styles {
          width: 600px; } }
    .contact .contact-form .middle-name {
      display: none; }
    .contact .contact-form .custom-styles_textarea {
      height: 150px; }
    .contact .contact-form .custom-styles + .custom-styles {
      margin: 20px 0; }
    .contact .contact-form .submit {
      color: white;
      background: black;
      border-color: transparent;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 2px;
      height: 50px;
      margin-top: 20px;
      cursor: pointer; }
    .contact .contact-form .submit:hover {
      color: black;
      background: transparent; }
    .contact .contact-form ::placeholder {
      color: black; }

/*# sourceMappingURL=styles.css.map */
