.background{

    z-index: -10;
    position: absolute;

}

.background__intro{
    right: -20px;
    top: -500px;

    @include tablet{
        width: -webkit-fill-available;
        right: 0px;
    }

    @include laptopLarge{
        width: 100vw;
        left: 0px;
    }
}

.background__portfolio{
    
    right: 0;
    left: 40px;
    width: 300px;
    top: 1489px;

    @include phoneMedium{
        left: 95px;
        top: 1489px;
        height: 1803.050px;
    }

    @include phoneLarge{
        left: 150px;
        right: auto;
        top: 1400px;
        height: 1903.055px;
    }

    @media only screen and (min-width: 500px){
        left: 250px;
     }

     @include smallTablet{
        left: 330px;
     }

     @media only screen and (min-width: 630px){
        left: 370px;
     }

    @media only screen and (min-width: 700px){
        left: 425px;
    }

    @include tablet{
        top: 800px;
        width: 300px;
        left: 468px;
        right: 0px;
    }

    @media only screen and (min-width: 820px){
        left: 530px;
    }

    @media only screen and (min-width: 890px){
        left: 600px;
    }

    @media only screen and (min-width: 940px){
        left: 650px;
    }

    @include laptop{
        width: 400px;
        left: 670px;
    }

    @media only screen and (min-width: 1120px){
        left: 720px;
    }

    @media only screen and (min-width: 1200px){
        left: 800px;
    }

    @media only screen and (min-width: 1300px){
        left: 910px;
    }

    @include laptopLarge{
        left: 1000px;
        width: 440px;
        top: 1200px;
    }

}