.contact{
    z-index: 2;
    .title-name{ 
        font-size: 2rem;
        color: black;
        text-align: center;
    }
    .contact-form{
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
        .custom-styles{
            background: transparent;
            border: solid black;
            border-width: 0 0 2px 0;
            height: 45px;
            font-size: 1.2rem;
            width: 80vw;
            outline: none;
            color: black;

            @include tablet{
                width: 600px;
            }
        }

        .middle-name{
            display: none;
        }

        .custom-styles_textarea{
            height: 150px;
        }

        .custom-styles + .custom-styles{
            margin: 20px 0; 
        }

        .submit{
            color: white;
            background: black;
            border-color: transparent;
            font-size: 1rem;
            font-weight: bold;
            letter-spacing: 2px;
            height: 50px;
            margin-top: 20px;
            cursor: pointer;
        }

        .submit:hover{
            color: black;
            background: transparent;
        }

        ::placeholder{
            color: black;
        }
    }
}