.main_footer{
    height: 40vh;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    @include tablet{
        top: -25px;
    }
    .copyright{
        color:black;
        margin-bottom: 10px;
    }

    .social_media{

        a{
            color: black;
        }

        a + a{

                margin-left: 25px;

            
        }
    }

}