.main{

    height: 100vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-name{
        text-align: center;
        color: white;
        font-family: 'colus';
        font-size: 3.7rem;
    }
    
    .typing{
        margin:  10px auto 30px auto;

        @include tablet{
            margin: 30px auto;
        }

        #typed{
            color: white;
            font-family: 'colus';

            @include tablet{
                font-size: 1.7rem;
            }
            
        }

        /* Cursor */
        .typed-cursor {
            font-size: 1.7rem;
        }

    }

    .title-saying{
        text-align: center;
        color: white;
        font-family: 'colus';
        font-size: .7rem;

        @include tablet{
            font-size: 1rem;
        }

    }
}