nav{
    margin: -30px;
    position: absolute;
    z-index: 4;
   
    top: 0;

    @include tablet{
        margin: 0 auto;
        width: 100%;
        #menuToggle{
            display: none;
        }
    }
    
    #menuDesktop{
            display: none;

            @include tablet{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-left: 0;
            }
            
        .links{
            list-style-type: none;
            padding-top: 10px;
            width: -webkit-fill-available;
            text-align: center;
            a{
                text-decoration: none;
                font-family: 'colus';
                color: white;
                
            }
        }
    }
}