.projects-title{

    font-family:'colus';
    text-align:center;
    color: black;

}

.projects{
    border: solid;
    .grid-item__projects{
        box-shadow: 0;
    }

    .projects-img{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        width: 300px;
        height: 300px;
        box-shadow: 5px 5px 10px black;

        @include tablet{

            width: 200px;
            height: 200px;

        }

        @include laptop{

            width: 300px;
            height: 300px;

        }
    }

    .projects-img:hover{
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
        transform: scale(1.1);
    }
}

.projects:hover .projects-img:not(:hover){
    opacity: .3;
}