.grid{

    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    grid-row-gap: 50px;
    margin-top: 100px;
    padding-left: 30px;

    @include tablet{
        grid-template-columns: auto auto auto auto;
    }

    .grid-item{
        background: white;
        border-radius: 5px;
        width: 200px;
        height: 300px;

        @include tablet{
            width: 200px;
            height: 300px;
        }

        @include laptop{
            width: 275px;
            height: 350px;
        }

        @include laptopLarge{
            width: 350px;
            height: 400px;
        }
    }

}

.skills{

    .container{
        box-shadow: 5px 5px 10px black;

        .skills-title{
            text-align: center;
            color: black;
            font-family: 'colus';
        }

        p{
            text-align: center;
            color: black;
            font-weight: 500;
        }
    }

}